.order-item-card {
    margin-bottom: 10px;
}

.cart-right-part-main {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    padding: 10px;
}

.order-cancelled {
    background-color: #f8d7da;
}

.cursor-pointer {
    cursor: pointer;
}
